# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Node/frontend dependencies
node_modules/

# Build/cache
dist/
build/